/* Tarjeta Sobre Mi_____________________________________ */
.card_info_sobre_mi {
  height: 220px;
  display: block;
  position: relative;
  border: 4px solid #f1f5f7;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #1a05fd69, #1045b854);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease;
  box-shadow: 0 8px 16px rgb(3, 11, 248); /* Efecto de sombra más pronunciado al pasar el mouse */
}

.card_info_sobre_mi:hover {
  background: linear-gradient(135deg, #06263b63, #0b36f54a); /* Cambia el fondo a un degradado */
  box-shadow: 0 8px 16px rgb(3, 89, 248); /* Efecto de sombra más pronunciado al pasar el mouse */
}

.img-about-perfil {
  width: 100%;
  max-width: 220px;
  border-radius: 50%;
  display: block;
}

/*Educacion______________________________________________________________________-*/

/* Tarjetas de Estudio */
.card_studios {
  background: #0000005b;
  border-radius: 15px;
  box-shadow: 0px 5px 10px  #fd030393;
  overflow: hidden;
  margin-bottom: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card_studios:hover {
  box-shadow: 0px 5px 10px #0036fa93;
}


.card_studios img {
  max-width: 180px;
max-height: 160px;  object-fit: contain;
  border-bottom: 4px solid #6b64f3;
  margin-top: 15px;
}


.card-body {
  padding: 20px;
  text-align: center;
  flex: 1; /* Asegura que el contenido del cuerpo tome el espacio restante */
}

.card-title-studio {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.card-body h5 {
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 5px;
}

.btn-primary {
  background: #6b64f3;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  color: white;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-primary:hover {
  background: #534bf3;
}

/*Estilos para la Exoperiancia*/

.experience-card {
  /* Estilos para el contenedor principal */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.experience-card h2 {
  /* Estilos para el título */
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}


/* Responsividad -----------------------------*/
@media (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card_studios {
    margin-bottom: 20px;
  }
}


