/* About.css */
.about-container {
    margin-top: 50px;
  }
  
  .card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .certificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .certificate img {
    width: 45%;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  body{
    background-color: black;
  }