.card_estudios {
  height: 430px; /* Define la altura deseada para las tarjetas */
  transition: transform 0.3s ease; /* Agrega una transición de 0.3 segundos al transformar la tarjeta */
}

.card_estudios:hover {
  transform: scale(1.02); /* Escala la tarjeta al 105% cuando el mouse está sobre ella */
}

.img-about-estudios{
  max-width: 250px; /* Define el tamaño máximo de las imágenes */
    height: 150px; /* Permite que la altura se ajuste automáticamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Asegura que la imagen se comporte como un bloque */
}
  

  
