.motivador-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.motivador-title {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

.motivador-text {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 100px;
}

.btn-whatsapp {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 300px;
  height: 100px;
    color: rgb(245, 247, 248);
    padding: 1em 2em 1em 2em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0 1em 1em 1em;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #112cdd4f;
    box-shadow: 0 8px 16px rgb(3, 89, 248); /* Efecto de sombra más pronunciado al pasar el mouse */

  }
  
  .btn-whatsapp:hover {
    border: 2px solid rgb(1, 2, 2);
    box-shadow: 0 8px 16px rgb(5, 238, 36); /* Efecto de sombra más pronunciado al pasar el mouse */

  }
  
  .btn-whatsapp span {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(34, 168, 11);
    transition: ease-in-out 0.3s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }
  
  .btn-whatsapp span svg {
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.5em;
  }
  
  .btn-whatsapp:hover span {
    left: 0%;
  }


 /*Cubo*/
.cube1-container {
  width: 200px;
  height: 200px;
  perspective: 800px;
  margin: 50px auto;
}

.cube1 {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgb(214, 21, 21);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: linear-gradient(to right, #ff6b6b, #355c7d, #557d35, #cfcf16, #a51f1f) 1;
  box-shadow: 0 0 100px rgba(245, 8, 8, 0.8);
}

.front1 {
  transform: translateZ(100px);
}

.back1 {
  transform: rotateY(180deg) translateZ(100px);
}

.right1 {
  transform: rotateY(90deg) translateZ(100px);
}

.left1 {
  transform: rotateY(-90deg) translateZ(100px);
}

.top1 {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom1 {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube1-container:hover .cube1 {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}