
/* Estilo maquina de escribir */
#typed-text {
  overflow: hidden;
  border-right: .15em solid rgb(0, 195, 255);
  white-space: nowrap;
  margin: 0 auto;
  font-size: 18px;
  color: #ffffff;
  animation: typing 11s steps(60) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.bienvenida_titulo {
  color: rgb(0, 132, 255);
  margin-bottom: 20px;
}
