.container {
    margin-top: 20px;
}

.clientes .cliente-card {
    background: #2f6690;
    padding: .4em;
    border-radius: 15px;
    margin: 0 auto 20px; /* Centro y espacio inferior */
    height: 100%;
    box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.clientes .cliente-card:hover {
    box-shadow: 0 10px 15px rgb(255, 255, 255);

}

.clientes .card-image {
    width: 100%; /* Cambiado a 100% */
    height: auto; /* Altura deseada para las imágenes */
    border-radius: 50px;
    overflow: hidden; /* Para recortar las imágenes que excedan la altura */
    display: flex; /* Añadido */
    justify-content: center; /* Añadido */
    align-items: center; /* Añadido */

}

.clientes .card-image img {
    max-width: 60%; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    max-height: 60%; /* Ajusta el tamaño máximo de la imagen según sea necesario */
    object-fit: cover; /* Para asegurarse de que la imagen se ajuste correctamente dentro del contenedor */
}


.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 10px 7px 0;
    
}

.category:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 7px;
}

.heading:hover {
    cursor: pointer;
}

.card-text {
    padding: 10px;
    font-size: 0.9em;
    color: #ffffff;
}
