.habilidad-card {
    width: 150px; /* Ajusta el ancho según sea necesario */
    height: 150px; /* Ajusta la altura según sea necesario */
    background: #ffffff;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 10px 15px rgb(0, 0, 0);
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  .habilidad-card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 0 25px #007bff;
    background-color: rgba(0, 0, 0, 0.667); /* Fondo semi-transparente */

  }
  

  
  .habilidad-circle {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: auto; /* Ajusta la altura según sea necesario */
    border-radius: 100%;
    background: #ffffff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-out;
  }
  
  .habilidad-circle:after {
    content: "";
    width: 86px; /* Ajusta el ancho según sea necesario */
    height: 86px; /* Ajusta la altura según sea necesario */
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
  }
  
  .habilidad-circle img {
    max-width: 100%;
    max-height: 100%;
  }
  

  .fila_logos {
    display: flex;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan a una nueva línea */
    overflow-x: hidden; /* Oculta las imágenes que se desbordan del contenedor */

}

.crecer_imagen:hover {
    transform: scale(1.1); /* Escala la tarjeta al 140% cuando el mouse está sobre ella */
    background-color: rgba(180, 174, 174, 0.667); /* Fondo semi-transparente */

}

.habilidad-card {
  position: relative;
  overflow: hidden;
}

.habilidad-circle {
  position: relative;
}

.habilidad-text {
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.667); /* Fondo semi-transparente */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 100%;

}

.habilidad-card:hover .habilidad-text {
  opacity: 2;
}

.crecer_imagen {
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: auto;
}