.container {
    margin-top: 40px;
}

.servicio-card {
    overflow: visible;
    height: 254px;
    margin: 0 auto 20px; /* Centro y espacio inferior */

}

.servicio-card .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}

.servicio-card .front, .back {
    background-color: #00000075;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.servicio-card .back {
    display: flex;
    justify-content: center;
    align-items: center;
}



.servicio-card .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #00000090;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

 .servicio-card:hover .content {
    transform: rotateY(180deg);
}



.servicio-card .front {
    transform: rotateY(180deg);
    color: white;
}

.servicio-card .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicio-card .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
}

.servicio-card .description {
    box-shadow: 0px 0px 10px 5px #fffefe33;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.servicio-card .title {
    font-size: 18px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.servicio-card .title p {
    width: 50%;
}

.servicio-card .icon {
    height: 20px;
    width: 20px;
}

.servicio-card .servicio-footer {
    color: #ffffff;
    margin-top: 5px;
    font-size: 14px;
}

.servicio-card .back-icon {
    height: 50px;
    width: 50px;
}






