.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #007bff;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.skill:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.skill-icon {
  font-size: 34px;
  margin-right: 8px;
}

.skill-name {
  flex: 1;
  font-size: 20px;
}

.skill-level {
  flex: 2;
  height: 15px;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.skill-percent {
  height: 100%;
  background: white;
  transition: width 2s ease-in-out;
}

.skill-percent-number {
  font-size: 18px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .skill {
    flex-direction: column; /* Cambia la dirección del diseño a columna en dispositivos móviles */
    align-items: flex-start; /* Alinea los elementos al inicio de la columna */
    padding: 20px; /* Aumenta el relleno para un mejor aspecto en dispositivos móviles */
  }

  .skill-name {
    margin-bottom: 10px; /* Agrega espacio entre el nombre de la habilidad y el nivel en dispositivos móviles */
  }

  .skill-level {
    width: 100%; /* Asegura que la barra de nivel ocupe todo el ancho disponible */
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  }
}
