.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #061a40;
  border-radius: 10px;

}
.skill:hover{
  box-shadow: 0 5px 10px rgb(250, 2, 2);
  border-radius: 10px;

}

.skill-icon {
  font-size: 34px;
  margin-right: 10px;
}

.skill-name {
  width: 120px;
  font-size: 25px;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  height: 100%;
  background: linear-gradient(to right, #00f, #0cf, #00f);
  animation: neon 1.5s infinite alternate;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}

/* Hover styles */
.html:hover {
  color: blue;
}

.css:hover {
  color: purple;
}

.js:hover {
  color: red;
}

/* Neon animation */
@keyframes neon {
  from {
      box-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #0cf, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f;
  }
  to {
      box-shadow: 0 0 10px #00f, 0 0 20px #0cf, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f, 0 0 80px #00f;
  }
}
