body {
  color: #f9f9f9;
  background-color: black;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 20px;
}
.card-body {
  padding: 20px;
}