body {
  color: #f9f9f9;
  background-color: black;
  transition: margin-left 0.3s ease; /* Apply transition to the body */
}

body.shifted {
  margin-left: 260px; /* Width of the sidebar */
}

.container {
  transition: margin-left 0.3s ease;
}

.container.shifted {
  margin-left: 260px;
}

.App.shifted {
  overflow-x: hidden;
}

.sidebar {
  background-color: #4a546c;
  color: #fff;
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -260px; /* Initial position off-screen */
  padding-top: 20px;
  transition: left 0.3s ease; /* Transition for sidebar movement */
}

.sidebar.open {
  left: 0; /* Move the sidebar to the left (visible) */
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-picture {
  width: 180px;
  height: 210px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-name {
  font-size: 28px;
}

.nav-menu {
  padding-left: 30px;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -40px;
  background: none;
  border: none;
  color: #e60b0b;
  font-size: 24px;
  cursor: pointer;
  transition: right 0.3s ease; /* Transition for toggle button */
}

.toggle-btn:hover {
  right: -45px;
}
